*{
    margin:0;
    padding : 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
.video-container{
    width: 700px;
    height: 400px;
    background-color: black;
    margin-left: 150px;
    margin-top: 50px;
}

#like{
    margin-left: 770px;
    /* position: inherit; */
     display: inline-block;
     width: 50px ;
    height:50px;
    
    border-top-right-radius: 20% ;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;

}
/* .like-img{
    display: inline-block;
    width:28px; 
    height:48px;
    border-top-right-radius: 20% ;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    position:static;
    margin: 12%;
} */



#vid-title{
    display: inline-block;
    position: relative;
    padding:10px;
    margin-left: 150px;
    width:400px;
}
.felx-div{
    display:flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
     justify-content:space-between ;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     background: #fff;
     position: sticky;
     top: 0;
     z-index: 10;
}
#ID{
    width:70px;
    height:70px;
}
.Description{
    width: 700px;
    margin-left:150px ;
}
.video-container {
    
        width: 700px;
        height: 400px;
        background-color: black;
        margin-left: 150px;
        margin-top: 50px;
    max-height: 400px;
    /* margin: 0 auto;*/
  } 
  video {
    height: 100%;
    width: 100%;
    display: block;
    
  }
  .comments{
    height: 300px;
  }
  .nav-middle{
    
        display: flex;
       align-items: center;
      
  }
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    outline: none;
    width: 500px;
    font-size: 16px;
    padding-right: 35px; /* Space for the search icon */
  }

  .search-icon {
    position: absolute;
    right: 10px;
    color: #555;
  }

  .search-button {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  .post-rating-container{
    display:flex;
    justify-content:end;
    margin-right: 500px;
    margin-left:400px ;
    padding:12px 0px;
  }
  .post-rating{
    display:flex;
    align-items: center;
    cursor:default;

  }
  .post-rating:not(:last-child) {
    margin-right: 12px;
  }
  .post-rating-button{
    margin-right:6px;
    cursor: pointer;
    color: #555;
  }
  /* post-rating:not(:post-rating-selected) > */.post-rating-button:hover{  
    color: black;
  }
  /* .post-rating-selected > .post-rating-button,
  .post-rating-selected > .post-rating-count{
    color: lightseagreen;
  }
   */
  
.material-symbols-outlined {
 
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
.subscribe-button{
  display: flex;
  justify-content: center;
 font-size: 13px;
  color:white;
  background-color:red;
  padding :10px 20px;
  text-transform: uppercase;
  border:none;
  letter-spacing: 1px;
  cursor:pointer;
  margin-left: 724px;
  content:'subscribe';
}
.channelName{
  display: inline-block;
  margin-left: 88px;
  padding:12px;
  padding-left: 2px;
}
.channelLogo{
  display: inline-block;
  width:30px;
  height:30px;
  margin-left: 78px;
  border-radius: 50%;
}